.navbar-brand {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
}
.section {
    width: 936px !important;
}
#create-product {
    padding-bottom: 64px;
}
#create-product img {
    display: block;
    height: 57px;
    width: 72px;
    margin: auto;
    margin: 58px auto 23px auto;
}
#create-product h1 {
    font-family: Roboto;
    font-size: 31px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
}
#create-product p {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
}
.section .h2 {
    font-family: Roboto;
    font-size: 23px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}
#detail-product {
    width: 656px;
}
#detail-product textarea {
    height: 116px;
    resize: none;
}
#text-input {
    width: 282px;
}
#productCategory {
    width: 224px;
}
#file-input {
    width: 242px;
}
#detail-product button{
    display: block;
    margin: auto;
    margin-top: 122px;
    width: 90%;
}
.error {
  color: red;
  font-size: 10px;
}